
table, th, td {
    border: 1px solid;
    align-content: center;
    border-width: 1px;
    border-color: black;
}
  
.table-head{
    font-size: 40px;
    font-weight: bold;
}

.heading{
    font-size: 40px;
}